* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 216, 216);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#first-page {
  height: 100vh;
}

#title {
  text-align: center;
}

#title h1 {
  padding: 0.5rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  display: inline-block;
  width: 90%;
  border-radius: 10px;
  position: sticky;
  top: 0;
}

#img-div {
  text-align: center;
  height: 50vh;
}

#image {
  object-fit: cover;
  width: 80%;
  max-width: 700px;
  height: 90%;
  border-radius: 5px;
}

#img-caption {
  font-size: 2rem;
}

#quote {
  margin: 3rem 25% 0rem 25%;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  background-color: white;
  padding: 2rem;
  font-size: x-large;
  font-style: italic;
}

#author {
  margin-top: 10px;
}

#sub-title {
  text-align: center;
}

#tribute-info {
  margin: 4rem 25%;
  text-align: justify;
  padding: 2rem 2rem;
  background-color: white;
}

li {
  margin-top: 1rem;
  list-style: none;
  line-height: 1.5rem;
}

li span {
  font-weight: 700;
  font-size: 1rem;
}

#bottom-note {
  margin: 2rem auto;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: silver;
}

@media (max-width: 1114px) {
  #tribute-info {
    margin: 0 10%;
  }
  #quote {
    margin: 2rem 10% 0rem 10%;
  }
}

@media (max-height: 414px) {
  #first-page {
    height: 500px;
  }
}
